<div class="p-5">
    <p mat-dialog-title class="text-2xl">Experience</p>
    <div mat-dialog-content>
      <p>At Tech Astha, I worked as a Frontend Developer, utilizing HTML, CSS, and JavaScript to build dynamic user interfaces. I employed WordPress and PHP for content management, while leveraging the Angular framework for advanced web applications. My role included integrating Angular Material for UI components, ensuring a polished and responsive design. I developed solutions that improved user experience and streamlined development processes.</p>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Close</button>
    </div>
</div>
