<!-- <p class="text-6xl mt-10">Project section</p>
<mat-grid-list class="grid-list" cols="4" rowHeight="100px">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list> -->
  
<!-- Experience heading -->
<div class=" flex items-center justify-center mt-5" >
    <p class=" text-4xl md:text-5xl lg:text-6xl font-bold text-white textshadow" data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500">
      Projects
    </p>
  </div>

  <div class="p-1 flex flex-wrap items-center justify-center " data-aos="fade-down"
  data-aos-easing="linear"
  data-aos-duration="1500">

    <div class="flex-shrink-0 m-6 relative overflow-hidden bg-black rounded-lg max-w-xs shadow-lg group">
        <svg class="absolute bottom-0 left-0 mb-8 scale-150 group-hover:scale-[1.65] transition-transform"
        viewBox="0 0 375 283" fill="none" style="opacity: 0.1;">
     <!-- White rectangle -->
     <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="#FFFFFF" />
     <!-- Yellow rectangle -->
     <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="#FFD700" />
   </svg>
   
   
        <div class="relative pt-10 px-10 flex items-center justify-center group-hover:scale-110 transition-transform">
            <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3"
                style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;">
            </div>
            <img class="relative w-40" src="/assets/images/front-end-images/photograpgy_home.png" alt="">
        </div>
        <div class="relative text-white px-6 pb-6 mt-6">
            <span class="block opacity-75 -mb-1">FrontEnd</span>
            <div class="flex justify-between">
                <span class="block font-semibold text-xl">Photo graphy</span>
                <span class="block bg-white rounded-full text-orange-500 text-xs font-bold px-3 py-2 leading-none flex items-center">click</span>
            </div>
        </div>
    </div>
   
    <!-- section 2 -->
    <div class="flex-shrink-0 m-6 relative overflow-hidden bg-black rounded-lg max-w-xs shadow-lg group">
        <svg class="absolute bottom-0 left-0 mb-8 scale-150 group-hover:scale-[1.65] transition-transform"
        viewBox="0 0 375 283" fill="none" style="opacity: 0.1;">
     <!-- White rectangle -->
     <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="#FFFFFF" />
     <!-- Yellow rectangle -->
     <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="#FFD700" />
   </svg>
   
   
        <div class="relative pt-10 px-10 flex items-center justify-center group-hover:scale-110 transition-transform">
            <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3"
                style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;">
            </div>
            <img class="relative w-40" src="/assets/images/Clip-ss.png" alt="">
        </div>
        <div class="relative text-white px-6 pb-6 mt-6">
            <span class="block opacity-75 -mb-1">Fullstack</span>
            <div class="flex justify-between">
                <span class="block font-semibold text-xl">Video Stream</span>
                <span class="block bg-white rounded-full text-orange-500 text-xs font-bold px-3 py-2 leading-none flex items-center"><a href="https://github.com/BST82/clips">Click</a></span>
            </div>
        </div>
    </div>

      <!-- section 3 -->
      <div class="flex-shrink-0 m-6 relative overflow-hidden bg-black rounded-lg max-w-xs shadow-lg group">
        <svg class="absolute bottom-0 left-0 mb-8 scale-150 group-hover:scale-[1.65] transition-transform"
        viewBox="0 0 375 283" fill="none" style="opacity: 0.1;">
     <!-- White rectangle -->
     <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="#FFFFFF" />
     <!-- Yellow rectangle -->
     <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="#FFD700" />
   </svg>
   
   
        <div class="relative pt-10 px-10 flex items-center justify-center group-hover:scale-110 transition-transform">
            <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3"
                style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;">
            </div>
            <img class="relative w-40" src="/assets/images/backend/chat.png" alt="">
        </div>
        <div class="relative text-white px-6 pb-6 mt-6">
            <span class="block opacity-75 -mb-1">BackEnd</span>
            <div class="flex justify-between">
                <span class="block font-semibold text-xl">Chat Webpage</span>
                <span class="block bg-white rounded-full text-orange-500 text-xs font-bold px-3 py-2 leading-none flex items-center"><a href="https://github.com/BST82/Node-Websocket-Socket.io-chat-application">click</a></span>
            </div>
        </div>
    </div>
      <!-- section 4 -->
      <div class="flex-shrink-0 m-6 relative overflow-hidden bg-black rounded-lg max-w-xs shadow-lg group">
        <svg class="absolute bottom-0 left-0 mb-8 scale-150 group-hover:scale-[1.65] transition-transform"
        viewBox="0 0 375 283" fill="none" style="opacity: 0.1;">
     <!-- White rectangle -->
     <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="#FFFFFF" />
     <!-- Yellow rectangle -->
     <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="#FFD700" />
   </svg>
   
   
        <div class="relative pt-10 px-10 flex items-center justify-center group-hover:scale-110 transition-transform">
            <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3"
                style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;">
            </div>
            <img class="relative w-40" src="/assets/images/wordpress/buehlhof.png" alt="">
        </div>
        <div class="relative text-white px-6 pb-6 mt-6">
            <span class="block opacity-75 -mb-1">Wordpress</span>
            <div class="flex justify-between">
                <span class="block font-semibold text-xl">E-commerce</span>
                <span class="block bg-white rounded-full text-orange-500 text-xs font-bold px-3 py-2 leading-none flex items-center"><a href="https://wordpress.buehlhof.ch/">click</a></span>
            </div>
        </div>
    </div>
      <!-- section 5 -->
      <div class="flex-shrink-0 m-6 relative overflow-hidden bg-black rounded-lg max-w-xs shadow-lg group">
        <svg class="absolute bottom-0 left-0 mb-8 scale-150 group-hover:scale-[1.65] transition-transform"
        viewBox="0 0 375 283" fill="none" style="opacity: 0.1;">
     <!-- White rectangle -->
     <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="#FFFFFF" />
     <!-- Yellow rectangle -->
     <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="#FFD700" />
   </svg>
   
   
        <div class="relative pt-10 px-10 flex items-center justify-center group-hover:scale-110 transition-transform">
            <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3"
                style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;">
            </div>
            <img class="relative w-40" src="/assets/images/wordpress/ibfm.png" alt="">
        </div>
        <div class="relative text-white px-6 pb-6 mt-6">
            <span class="block opacity-75 -mb-1">Wordpress</span>
            <div class="flex justify-between">
                <span class="block font-semibold text-xl">IBFM</span>
                <span class="block bg-white rounded-full text-orange-500 text-xs font-bold px-3 py-2 leading-none flex items-center"><a href="http://wordpress.p660563.webspaceconfig.de/">click</a></span>
            </div>
        </div>
    </div>
    </div>