<!-- Experience heading -->
<div class="flex items-center justify-center mt-5 " >
    <p class="animate__animated animate__swing text-4xl md:text-5xl lg:text-6xl font-bold text-white textshadow" >
      Education
    </p>
  </div>
  

  <div class="flex items-center justify-center animate__animated animate__swing">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 p-4">
      
        <div class="text-center p-6 flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-lg transition-transform transform hover:scale-105 hover:bg-gray-800 hover:text-white dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white">
            <p class="text-lg font-medium mb-4">
              <span class="block text-xl font-semibold mb-1">RSSD Sarvody Vidyalay Kanpur</span>
              <span class="block text-sm text-gray-500 mb-2">High School</span>
              <span class="block text-base ">
                Completed 10th Grade with a strong academic foundation, excelling in core subjects such as Mathematics, Science, and English. Developed analytical skills, problem-solving abilities, and a commitment to academic excellence.
              </span>
            </p>
          </div>
          
      
      <!-- Box 2 -->
      <div class="text-center p-6 flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-lg transition-transform transform hover:scale-105 hover:bg-gray-800 hover:text-white dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white">
        <p class="text-lg font-medium mb-4">
          <span class="block text-xl font-semibold mb-1">Rajkiya Engineering College Azamgarh (AKTU)</span>
          <span class="block text-sm text-gray-500 mb-2">B.Tech (Information Technology) 2018-2022</span>
          <span class="block text-base ">
            Spent 4 years at Rajkiya Engineering College, Azamgarh, pursuing Information Technology, where I honed technical skills, engaged in innovative projects, and collaborated on cutting-edge technologies. Gained a solid foundation in IT, preparing for impactful contributions in the tech industry.
          </span>
        </p>
      </div>
      
      <!-- Box 3 -->
      <div class="text-center p-6 flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-lg transition-transform transform hover:scale-105 hover:bg-gray-800 hover:text-white dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white">
        <p class="text-lg font-medium mb-4">
            <span class="block text-xl font-semibold mb-1">RSSD Sarvody Vidyalay Kanpur</span>
          <span class="block text-sm text-gray-500 mb-2">Intermediate</span>
          <span class="block text-base ">
            Completed 12th Grade with a focus on Science . Achieved strong results in key subjects, demonstrating analytical skills, advanced problem-solving abilities, and readiness for higher education challenges.
          </span>
        </p>
      </div>
  
    </div>
  </div>
  


<!-- education.component.html -->
<!-- <mat-grid-list [cols]="cols" rowHeight="100px">
    <mat-grid-tile *ngFor="let tile of tiles"
                   [colspan]="tile.cols"
                   [rowspan]="tile.rows"
                   [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list> -->
  
      
      
      
      
      
