
<p class="text-2xl lg:text-6xl text-center text-white px-4 py-2">Reference section</p>
<mat-accordion>
    <div class="hover:bg-black hover:text-white p-10">
      <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title>Some References</mat-panel-title>

        </mat-expansion-panel-header>
        <ul>
          <li>1. <a href="https://v17.angular.io/docs" target="_blank">Angular documentation</a></li>
          <li>2. <a href="https://medium.com/@aayyash/replacing-angular-universal-with-ssr-version-f257dfae305f">SSR</a></li>
          <li>3. <a href="https://htmlstream.com/preview/front-v3.2/documentation/aos.html">AOS Library</a></li>
          <li>4. <a href="https://michalsnik.github.io/aos/">AOS class</a></li>
          <li>5. <a href="https://v17.angular.io/docs">Angular material dosc</a></li>
          <li>6. <a href="https://material.angular.io/">Angular material</a></li>
          <li>7. <a href="https://tailwindcss.com/docs/guides/angular">Tailwind Documentation 1</a></li>
          <li>8. <a href="https://nx.dev/recipes/angular/using-tailwind-css-with-angular-projects">Tailwind Documentation 2</a></li>
          <li>9. <a href="https://flowbite.com/docs/getting-started/angular/">Tailwind With Angular</a></li>
        </ul>
      </mat-expansion-panel>
    </div>
   
  </mat-accordion>